body {
    font-family: 'Nunito', sans-serif;
    background-color: #D6DFE0;
}


/* Nav Bar */
.nav-item {
    font-size: 1.5rem;
    letter-spacing: 3px;
}


/* Footer */
footer {
    margin: auto 30px;
}


footer i {
    font-size: 2rem;
    color: #000000;
}

footer i:hover {
    opacity: 0.7;
}

/* Jumbotron box */
.jumbotron {
    padding: 30px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: rgba(128, 128, 128, 0.3);
}


/* Opening times */
#opening-times {
    margin: 0 auto;
    padding: 10px;
    border: 3px solid;
    border-radius: 12px;
    width: 50%;
    background-color: rgba(211, 211, 211, 0.5);
    
}

.day {
    font-weight: bold;
}


/* Media Queries */
/* For screen sizes with a maximum width of 767px */
@media (max-width: 767px) {

    /* Jumbotron box */
    .jumbotron {
        border: none;
        background-color: transparent;
    }

    /* Opening Times */
    #opening-times{
        width: 75%;
    }
}
