body {
    font-family: 'Nunito', sans-serif;
    background-color: #D6DFE0;
}


/* Nav Bar */
.nav-item {
    font-size: 1.5rem;
    letter-spacing: 3px;
}


/* Footer */
footer {
    margin: auto 30px;
}


footer i {
    font-size: 2rem;
    color: #000000;
}

footer i:hover {
    opacity: 0.7;
}

/* Jumbotron box */
.jumbotron {
    padding: 30px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: rgba(128, 128, 128, 0.3);
}

/* About Us*/
#about-us-section {
    padding: 20px;
    border: 3px solid;
    border-radius: 12px;
    width: 40%;
    background-color: #B5D9D1;
}

/* Opening times */
#opening-times {
    margin: 0 auto;
    padding: 20px;
    border: 3px solid;
    border-radius: 12px;
    width: 40%;
    background-color: rgba(211, 211, 211, 0.5);
}

.day {
    font-weight: bold;
}

/* Book session */
#book-session-link-btn {
    padding: 20px;
    border: 3px solid;
    border-radius: 12px;
    width: 40%;
    background-color: #8DB6CD;
}

/* Logout Page */
#logout-page {
    border: 3px solid #000000;
    padding: 20px;
    background-color: #B5D9D1;
}

/* Media Queries */
/* For screen sizes with a maximum width of 767px */
@media (max-width: 767px) {

    /* Jumbotron box */
    .jumbotron {
        border: none;
        background-color: transparent;
    }

    /* Opening Times */
    #opening-times {
        width: 75%;
    }

    /* About Us*/
    #about-us-section {
        width: 75%;
    }

    /* Book session */
    #book-session-link-btn {
        width: 75%;
    }

}