{% extends "base.html" %}


{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-dark">

            <h3>Personal Training</h3>
            <p>Welcome to Get After It. If you have not created an account yet, then please
                You can book personal training or gym sessions.
            </p>


            <table>
                {% for personal_training in personal_trainings %}
                <tr>
                    <td>{{ personal_training.available }}</td>
                    <td>{{ personal_training.user_id }}</td>
                    <td>{{ personal_training.date_time }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}