{% extends "base.html" %}

{% block content %}

<div class="card img-fluid">
    
    <img src="https://res.cloudinary.com/dfv7uge9t/image/upload/v1685228482/GetAfterIt%20Imgs/weight-plates_st1bgg.jpg" class="card-img" style="width: 100vw; height: 100vh"
        alt="gym floor">
    <div class="card-img-overlay">
        <div class="text-light">
            <div class="jumbotron">
                <h1 class="display-4 jumbotron-header">Get After It</h1>
                <p class="jumbotron-text blockquote mt-2">Push past your limits and just Get After It</p>
                {% if user.is_authenticated %}
                <a href="#"></a>
                {% else %}
                <a class="btn btn-info" href="{% url 'account_signup' %}" role="button">Sign Up</a>
                <a class="btn btn-info" href="{% url 'account_login' %}" role="button">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{%endblock%}