{% extends "base.html" %}

{% block content %}

<!-- Hero image and jumbotron -->
<div class="card img-fluid" id="hero-img">

    <img src="https://res.cloudinary.com/dfv7uge9t/image/upload/v1686599981/pexels-tima-miroshnichenko-6389886_quhkpb.jpg"
        class="card-img" style="width: 100%; height: 100%" alt="gym floor">
    <div class="card-img-overlay d-flex align-items-center justify-content-center">
        <div class="text-light">
            <div class="jumbotron text-center">
                <h1 class="display-4 jumbotron-header">Get After It</h1>
                <p class="jumbotron-text blockquote mt-2">Push past your limits and just <strong>Get After It</strong>
                </p>
                <p>Book a personal training or head straight into the gym!</p>
                {% if user.is_authenticated %}
                <a href="#"></a>
                {% else %}
                <a class="btn btn-info" href="{% url 'account_signup' %}" role="button">Sign Up</a>
                <a class="btn btn-info" href="{% url 'account_login' %}" role="button">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- About section -->
<div class="container" id="about-us-section">
    <h1 class="text-center">About Us</h1>
    <p>Welcome to <strong>Get After It Gym</strong></p>
    <p>
        We are one of Corks newest up and coming gyms. It includes state of
        the art Cardio and Weight training equipment!
    </p>
    <p>
        Our excellent qualified personal trainers and nutritionists are here
        to ensure that you reach your goals. Our aim is to always make client
        satisfaction at the top of our list of Goals and Objectives.
    </p>
    <p>
        We intend on doing this by setting a nice, friendly and relaxed atmosphere.
        We are a gym where you can retain your own anonymity whilst also
        feeling like you are a part of the team.
    </p>
    <p>
        We can set you up with an exercise as well as a nutritional program that
        can cater to suit each and every individual. This means that our trainers
        will design a program specifically for you at whatever stage you are in
        your fitness journey!
    </p>
</div>


<!-- Opening times -->
<div class="open-time container-fluid text-center">
    <div id="opening-times">
        <h1>Opening Times</h1>
        <p><strong>Our opening times are:</strong></p>
        <div>
            <div class="row">
                <div class="col-sm-6 day">Monday:</div>
                <div class="col-sm-6">07:00 - 22:00</div>
            </div>
            <div class="row">
                <div class="col-sm-6 day">Tuesday:</div>
                <div class="col-sm-6">07:00 - 22:00</div>
            </div>
            <div class="row">
                <div class="col-sm-6 day">Wednesday:</div>
                <div class="col-sm-6">07:00 - 22:00</div>
            </div>
            <div class="row">
                <div class="col-sm-6 day">Thursday:</div>
                <div class="col-sm-6">07:00 - 22:00</div>
            </div>
            <div class="row">
                <div class="col-sm-6 day">Friday:</div>
                <div class="col-sm-6">07:00 - 22:00</div>
            </div>
            <div class="row">
                <div class="col-sm-6 day">Saturday:</div>
                <div class="col-sm-6">08:00 - 18:00</div>
            </div>
            <div class="row">
                <div class="col-sm-6 day">Sunday:</div>
                <div class="col-sm-6">08:00 - 18:00</div>
            </div>
        </div>
    </div>
</div>

<!-- If user is logged in, allow option to book a session -->
{% if user.is_authenticated %}
<form action="/pt_booking" method="GET">
<div class="container-fluid text-center" id="book-session-link-btn">
    <div class="row">
        <div class="col">
            <h1>Book a Session</h1>
            <p>Click the button below to book a Personal Training Session!</p>
            <div>
                <button submit="/pt_booking" id="personal-training" href="pt_booking.html">
                    Personal Training
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{%endblock%}