{% extends "base.html" %}


{% block content %}
{% if user.is_authenticated %}
<div class="sign-form-page container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-dark">

            <h3>Personal Training</h3>
            <h4>Get After It</h4>

            <p>{{ session_message }}</p>
            <p>Date and Time:</p>
            <p><strong>{{ date_message }}</strong></p>

            <a type="submit" class="btn btn-primary" value="Back to booking" href="/pt_booking" method="GET">
                Back to booking</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}