{% extends "base.html" %}


{% block content %}

<!-- If a user is logged in -->
{% if user.is_authenticated %}
<div class="sign-form-page container text-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-dark">

            <h3>Personal Training</h3>
            <p>
                Hello, there are only one space available for each timeslot!
            </p>

            <form action="/create_personal_training_session" onsubmit="return checkDateTimeSelected()">
                <input type="date" id="personal_training_dates" onchange="dateData(event);" />
                <input type="hidden" id="personal_training_date" name="personal_training_date" value="" />

                <select name="times_list" id="times_list">
                    {% for times in times_list %}
                        <option value="{{ times }}">{{ times }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-primary" value="Book">Book</button>
            </form>

            <p id="date_error_message" style="color:red"></p>

            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editBookingModal">
                Edit Booking</button>

            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteBookingModal">
                Delete Booking</button>

            <h3>Current Bookings</h3>
            <h4> Date and time: </h4>
            {% for sessions in booked_sessions %}
                <p> {{ sessions.date_time }}</p>
            {% endfor %}

            <!-- Edit Booking Modal -->
            <div class="modal fade" id="editBookingModal" tabindex="-1" aria-labelledby="editBookingModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editBookingModalLabel">Edit Booking</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/update_personal_training_session">
                                <div class="row">
                                    <p>Choose a booked Personal training session</p>
                                    <select name="current_times_list" id="current_times_list">
                                        {% for sessions in booked_sessions %}
                                            <option value="{{ sessions.date_time }}">{{ sessions.date_time }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row">
                                    <p>Choose new time</p>
                                    <select name="edit_times_list" id="edit_times_list">
                                        {% for times in times_list %}
                                            <option value="{{ times }}">{{ times }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Booking Modal -->
            <div class="modal fade" id="deleteBookingModal" tabindex="-1" aria-labelledby="deleteBookingModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteBookingModalLabel">Delete Booking</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/delete_personal_training_session">
                                <div class="row">
                                    <p>Choose a booked Personal training session</p>
                                    <select name="delete_session" id="delete_session" onchange="hideConfirmDeletionButton();">
                                        {% for sessions in booked_sessions %}
                                            <option value="{{ sessions.date_time }}">{{ sessions.date_time }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="save-delete-button" type="button" class="btn btn-info" onclick="showConfirmDeletionButton();">Delete Booking</button>
                                <button id="confirm-delete-button" type="submit" class="btn btn-primary">Are you sure?</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}