{% extends "base.html" %}


{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-dark">

            <h3>Personal Training</h3>
            <p>Welcome to Get After It. If you have not created an account yet, then please
                You can book personal training or gym sessions.
            </p>

            <form action="/create_personal_training_session" method="post">
                <input type="date" id="personal_training_dates" onchange="dateData(event);" />
                <input type="hidden" id="personal_training_date" name="personal_training_date" value=''>


                <select name="times_list" id="times_list" onchange="timeData(event);">
                    {% for times in times_list %}
                    <option value="{{ times }}">{{ times }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-primary" value="Book">Book</button>
            </form>

            <p>{{ session_message }}</p>

            <h3>Bookings made</h3>
            <h4> Date and time: </h4>
            {% for sessions in booked_sessions %}
                <p> {{ sessions.date_time }}</p>
                <button type="submit" method="delete" class="btn btn-primary">Delete Booking</button>
                <p></p>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

{% endblock %}